pipelines/pipeline_main/pipeline_main.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"FDP_INGESTION fabricuser":{"type":"string"},"MicrosoftOutlookConnection fabricuser":{"type":"string"},"RAW_ADLS_GEN2_CONNECTION":{"type":"string"},"PowerBIDatasets_Prod_Connection fabricuser":{"type":"string"}},"variables":{},"resources":[{"name":"pipeline_main","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Raw Ingestion","type":"InvokePipeline","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"waitOnCompletion":true,"operationType":"InvokeFabricPipeline","pipelineId":"91e7ff5e-4107-4d11-b1a6-e6da7ba4accc","workspaceId":"f272197d-fca2-4f27-8532-0674aca476b2","parameters":{}},"externalReferences":{"connection":"[parameters('FDP_INGESTION fabricuser')]"}},{"name":"Medallion Arch Pipeline","type":"InvokePipeline","dependsOn":[{"activity":"Raw Ingestion","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"waitOnCompletion":true,"operationType":"InvokeFabricPipeline","pipelineId":"67b62b45-00d6-4065-9726-42f6b54d1420","workspaceId":"f272197d-fca2-4f27-8532-0674aca476b2","parameters":{}},"externalReferences":{"connection":"[parameters('FDP_INGESTION fabricuser')]"}},{"name":"Pipeline Success Mail","type":"Office365Email","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[{"activity":"Medallion Arch Pipeline","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"to":"dovalabhi01@gmail.com","subject":"Pipeline Success","body":"<p>@{variables('workspace')} having pipeline with id @{pipeline().Pipeline} ran successfully</p>"},"externalReferences":{"connection":"[parameters('MicrosoftOutlookConnection fabricuser')]"}},{"name":"Pipeline Failure Mail","type":"Office365Email","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[{"activity":"Medallion Arch Pipeline","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"to":"dovalabhi01@gmail.com","subject":"Pipeline Success","body":"<p>@{variables('workspace')} having pipeline with id @{pipeline().Pipeline} failed</p>"},"externalReferences":{"connection":"[parameters('MicrosoftOutlookConnection fabricuser')]"}}],"lastModifiedByObjectId":"71f1daa7-6e38-493e-8589-167a04a7ba1d","lastPublishTime":"2026-01-02T09:11:35Z"},"dependsOn":[]},{"name":"ingestion_pipeline_raw_landing","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Get Raw Folder Metadata","description":"Fetch list of files inside folder","type":"GetMetadata","dependsOn":[{"activity":"Setup Notebook connection","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"raw","fileSystem":"lmsprojectprod"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('RAW_ADLS_GEN2_CONNECTION')]"}},"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"modifiedDatetimeStart":{"value":"@startOfDay(utcNow())","type":"Expression"},"modifiedDatetimeEnd":{"value":"@utcNow()","type":"Expression"},"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"Iterate Files","type":"ForEach","dependsOn":[{"activity":"Get Raw Folder Metadata","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Get Raw Folder Metadata').output.childItems","type":"Expression"},"isSequential":true,"activities":[{"name":"Ingest Raw To Landing","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"db0739a6-a146-4c19-afaa-1b94e2c9b2c8","workspaceId":"f272197d-fca2-4f27-8532-0674aca476b2","parameters":{"today_file":{"value":{"value":"@item().name","type":"Expression"},"type":"string"},"processing_date":{"value":{"value":"@formatDateTime(utcNow(),'yyyy-MM-dd')","type":"Expression"},"type":"string"},"workspace":{"value":"fabric_PROD","type":"string"},"landing":{"value":"landing","type":"string"},"raw":{"value":"raw","type":"string"},"destination_account_name":{"value":"delakehouse","type":"string"},"destination_container_name":{"value":"lmsprojectprod","type":"string"},"storage_account_name":{"value":"delakehouse","type":"string"},"container_name":{"value":"lmsprojectprod","type":"string"}},"sessionTag":"ingestion_session_one"}}]}},{"name":"Setup Notebook connection","type":"TridentNotebook","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"8ee04040-7de5-4cdf-88e6-be792033c1f2","workspaceId":"c57021a8-2a25-4b7c-9cab-7255c1876c30","sessionTag":"ingestion_session_one"}}],"lastModifiedByObjectId":"71f1daa7-6e38-493e-8589-167a04a7ba1d","lastPublishTime":"2026-01-02T07:52:08Z"},"dependsOn":[]},{"name":"pipeline_bgs","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Bronze","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"b13a0fb9-d0a9-4f8f-9da9-bffc42aea484","workspaceId":"f272197d-fca2-4f27-8532-0674aca476b2","parameters":{"processing_date":{"value":{"value":"@formatDateTime(utcNow(),'yyyy-MM-dd')","type":"Expression"},"type":"string"},"workspace":{"value":"fabric_PROD","type":"string"},"container_name":{"value":"lmsprojectprod","type":"string"}}}},{"name":"Silver","type":"TridentNotebook","dependsOn":[{"activity":"Bronze","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"690c029a-aaee-4253-8204-874616b45e10","workspaceId":"f272197d-fca2-4f27-8532-0674aca476b2","parameters":{"processing_date":{"value":{"value":"@formatDateTime(utcNow(),'yyyy-MM-dd')","type":"Expression"},"type":"string"},"workspace":{"value":"fabric_PROD","type":"string"}}}},{"name":"Gold","type":"TridentNotebook","dependsOn":[{"activity":"Silver","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"c76bc836-e56b-4ee1-bab0-12fa2b38128d","workspaceId":"f272197d-fca2-4f27-8532-0674aca476b2","parameters":{"processing_date":{"value":{"value":"@formatDateTime(utcNow(),'yyyy-MM-dd')","type":"Expression"},"type":"string"},"workspace":{"value":"fabric_PROD","type":"string"}}}},{"name":"Refresh Semantic Model","type":"PBISemanticModelRefresh","dependsOn":[{"activity":"Gold","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"method":"post","waitOnCompletion":true,"commitMode":"Transactional","operationType":"SemanticModelRefresh","groupId":"f272197d-fca2-4f27-8532-0674aca476b2","datasetId":"e77ab68f-47d8-403d-b59d-3de0227ea13b","objects":[{"table":"dim_course"},{"table":"dim_student"},{"table":"fact_student_performance"}]},"externalReferences":{"connection":"[parameters('PowerBIDatasets_Prod_Connection fabricuser')]"}}],"lastModifiedByObjectId":"71f1daa7-6e38-493e-8589-167a04a7ba1d","lastPublishTime":"2026-01-02T07:45:14Z"},"dependsOn":[]}]}