pipelines/ingestion_pipeline_raw_landing/ingestion_pipeline_raw_landing.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"RAW_ADLS_GEN2_CONNECTION":{"type":"string"}},"variables":{},"resources":[{"name":"ingestion_pipeline_raw_landing","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Get Raw Folder Metadata","description":"Fetch list of files inside folder","type":"GetMetadata","dependsOn":[{"activity":"Setup Notebook connection","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"raw","fileSystem":"lmsprojectprod"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('RAW_ADLS_GEN2_CONNECTION')]"}},"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"modifiedDatetimeStart":{"value":"@startOfDay(utcNow())","type":"Expression"},"modifiedDatetimeEnd":{"value":"@utcNow()","type":"Expression"},"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"Iterate Files","type":"ForEach","dependsOn":[{"activity":"Get Raw Folder Metadata","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Get Raw Folder Metadata').output.childItems","type":"Expression"},"isSequential":true,"activities":[{"name":"Ingest Raw To Landing","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"db0739a6-a146-4c19-afaa-1b94e2c9b2c8","workspaceId":"f272197d-fca2-4f27-8532-0674aca476b2","parameters":{"today_file":{"value":{"value":"@item().name","type":"Expression"},"type":"string"},"processing_date":{"value":{"value":"@formatDateTime(utcNow(),'yyyy-MM-dd')","type":"Expression"},"type":"string"},"workspace":{"value":"fabric_PROD","type":"string"},"landing":{"value":"landing","type":"string"},"raw":{"value":"raw","type":"string"},"destination_account_name":{"value":"delakehouse","type":"string"},"destination_container_name":{"value":"lmsprojectprod","type":"string"},"storage_account_name":{"value":"delakehouse","type":"string"},"container_name":{"value":"lmsprojectprod","type":"string"}},"sessionTag":"ingestion_session_one"}}]}},{"name":"Setup Notebook connection","type":"TridentNotebook","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"8ee04040-7de5-4cdf-88e6-be792033c1f2","workspaceId":"c57021a8-2a25-4b7c-9cab-7255c1876c30","sessionTag":"ingestion_session_one"}}],"lastModifiedByObjectId":"71f1daa7-6e38-493e-8589-167a04a7ba1d","lastPublishTime":"2026-01-02T07:52:08Z"},"dependsOn":[]}]}